/*.navbar {
    padding: 20px 10px;
    color: #fff;
    background-color: #1e94d2;
  }*/
  .navBardemoBasicUsage md-content .ext-content {
    padding: 50px;
    margin: 20px;
    background-color: #FFF2E0; }