
<div class="page-header">
	<div class="container-fluid">
		<h1>
			Adicionar items
		</h1>
	</div>
</div>

<div class="container-fluid">
	<form name="movimentacaoItemForm">	
		<div class="row">
			<div class="col-sm-3  form-group">
				<label for="idMovimentacao" class="control-label">cod. movimentação</label>
				<input id="idMovimentacao" type="text" name="idMovimentacao" class="form-control" ng-model="movimentacaoItem.movimentacao.id" ng-disabled="true">
			</div>
		</div>
		<div class="row">
			<div class="col-sm-3  form-group">
				<label for="conta" class="control-label">Conta</label>						
				<select id="conta" class="form-control" name="conta" ng-model="movimentacaoItem.conta" ng-options="conta.descricao | uppercase for conta in contas" ng-required="true">
					<option value="">Escolha uma conta</option>
				</select>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-3  form-group">
				<label for="valor" class="control-label">Valor</label>
				<input id="valor" name="valor" type="number" class="form-control" ng-model="movimentacaoItem.valor" ng-pattern="/^\d{0,9}(\.\d{1,9})?$/" step="0.01"/>
				<span  ng-show="movimentacaoItemForm.valor.$error.pattern">Not valid number!</span>
			</div>
		</div>
		<div class="form-group">
			<button class="btn btn-primary"
					ng-click="addItem(movimentacaoItem)" 
					ng-disabled="movimentacaoItemForm.$invalid">
				Adicionar Item
			</button>			
		</div>

	</form>
	{{movimentacaoItemForm.conta.$error}}
	<div class="table-responsive">
		<table id="tabela-produtos" class="table  table-striped  table-bordered  table-hover  table-condensed  js-sticky-table" ng-show="movimentacaoitens.length > 0">
			<thead class="aw-table-header-solid">
				<tr>					
					<th>Descrição</th>
					<th>Valor</th>
					<th class="table-pesq-produto-col-acoes">Ações</th>
				</tr>
			</thead>
			<tbody>				
				<tr ng-repeat="item in movimentacaoitens">					
					<td>{{item.conta.descricao | uppercase}}</td>
					<td>{{item.valor | currency}}</td>
					<td class="table-pesq-produto-col-acoes">					
						<div class="btn-group">
							<button class="btn  btn-default btn-xs" ng-click="editarConta(conta)">
								<i class="fa  fa-pencil"></i>
							</button>							
						</div>					
					</td>
				</tr>	
			</tbody>
		</table>
	</div>
</div>