<div class="container-fluid">		
	<form name="contaForm" ng-submit="adicionaConta(conta)">		 	

		<div ng-messages="contaForm.descricao.$error" 
			ng-show="contaForm.descricao.$dirty && contaForm.descricao.$invalid" role="alert"
			class="container-fluid row">
			<div ng-message="required" class="col-sm-8 alert alert-danger">
				Por favor, preencha o campo descrição!
			</div>
			<div ng-message="minlength" class="col-sm-8 alert alert-danger">
				O campo descricao deve ter no mínimo 3 caracteres.
			</div>
		</div>		

		<div class="row">
			<div class="col-sm-1 form-group">
				<label for="id">Código</label>
				<input class="form-control" type="text" ng-model="conta.id" name="id" readonly/>
			</div>
			<div class="col-sm-7 form-group">
				<label for="descricao">*Descricao</label>
				<input type="text" class="form-control" id="descricao" ng-model="conta.descricao"name="descricao" ng-required="true" ng-minlength="3">
			</div>			
		</div>

		<div class="row">
			<div class="col-sm-8">
				<button class="btn btn-primary" ng-disabled="contaForm.$invalid">
					Salvar
				</button>
				<button class="btn btn-primary" ng-click="reset()" ng-disabled="contaForm.$invalid">
					limpar
				</button>
			</div>
		</div>	
	</form>
	<div class="row">
			<div class="col-sm-8">
				<table ng-show="contas.length > 0" class="table table-responsive table-bordered">
					<thead>
						<tr>
							<th>Código</th>
							<th>Descrição</th>
							<th>Ações</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="c in contas">
							<td scope="row">{{c.id}}</td>
							<td>{{c.descricao}}</td>
							<td>
								<button class="btn btn-primary btn-sm" ng-click="selecionar(c)">
									Selecionar
								</button>													
							</td>							
						</tr>
					</tbody>
				</table>
			</div>
	</div>
</div>