.table-pesq-produto-col-ano {
  min-width: 80px;
  text-align: center;
  display: none !important;
}
@media (min-width: 992px) {
  .table-pesq-produto-col-ano {
    display: block !important;
  }
  table.table-pesq-produto-col-ano {
    display: table !important;
  }
  tr.table-pesq-produto-col-ano {
    display: table-row !important;
  }
  th.table-pesq-produto-col-ano,
  td.table-pesq-produto-col-ano {
    display: table-cell !important;
  }
}
.table-pesq-produto-col-dataRegistro {
  min-width: 100px;
  text-align: center;
  display: none !important;
}
@media (min-width: 992px) {
  .table-pesq-produto-col-dataRegistro {
    display: block !important;
  }
  table.table-pesq-produto-col-dataRegistro {
    display: table !important;
  }
  tr.table-pesq-produto-col-dataRegistro {
    display: table-row !important;
  }
  th.table-pesq-produto-col-dataRegistro,
  td.table-pesq-produto-col-dataRegistro {
    display: table-cell !important;
  }
}
.table-pesq-produto-col-status {
  min-width: 100px;
  text-align: center;
}
.table-pesq-produto-col-acoes {
  min-width: 105px;
  text-align: center;
}
