<!--<nav class="navbar">ContaApp</nav>-->

<md-content class="md-padding">
    <md-nav-bar md-no-ink-bar="disableInkBar" md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
        <md-nav-item md-nav-click="goto('/contas/nova')" name="page1">
            Contas
        </md-nav-item>
        <md-nav-item md-nav-click="goto('page2')" name="page2">
            Page Two
        </md-nav-item>
        <md-nav-item md-nav-click="goto('page3')" name="page3">
            Page Three
        </md-nav-item>
        <!-- these require actual routing with ui-router or ng-route, so they
        won't work in the demo
        <md-nav-item md-nav-href="#page4" name="page5">Page Four</md-nav-item>
        <md-nav-item md-nav-sref="app.page5" name="page4">Page Five</md-nav-item>
        You can also add options for the <code>ui-sref-opts</code> attribute.
        <md-nav-item md-nav-sref="page6" sref-opts="{reload:true, notify:true}">
            Page Six
        </md-nav-item>
        -->
    </md-nav-bar>
</md-content>


<!--
Copyright 2016 Google Inc. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be foundin the LICENSE file at http://material.angularjs.org/HEAD/license.
-->